
.form{
  width: 50%;
  margin: auto;
}
.textarea{
  width:100%;
  margin-bottom: 1em;
  border: 1px solid lightgrey;
}

/* floating labels */

.form-label{
  font-size: 1em;
  color: #aaa;
  display:block;
  opacity: 1;
  transform: translateY(-2em);
  transform-origin: 0 0;
  transition: all .3s;
  margin-left:0;
  pointer-events: none;
}
.form-control{
  box-shadow:none;
  background-color: rgba(0,0,0,0.02);
  border-color: #ccc;
  border-style: none none solid none;
  transition: all .5s;
  cursor:default;
}
.form-control::placeholder{
  color: transparent
}
.form-control:focus{
  box-shadow:none;
  outline: none;
}
.form-control:focus + .form-label, .form-control:not(:placeholder-shown)+.form-label{
  transform:translateY(-3.2em) scale(0.8)
}

/*REACTIVE FORM VALIDATION UI */

.ng-valid {
  border-color: green;
}

.ng-invalid.ng-touched{
  border-color:red;
}
