<div class="wrapper">
  <div id="headline" >
    <div class="row row-padding">
        <button class="size-select-button" (click)="togglesizeselect()">
          Größe
          <div class="arrow-right" *ngIf="!showavailablesizes"></div>
          <div class="arrow-left" *ngIf="showavailablesizes"></div>
          <div class="arrow-down" *ngIf="!showavailablesizes"></div>
          <div class="arrow-up" *ngIf="showavailablesizes"></div>

        </button>
        <div class="availablesizeslist" *ngIf="showavailablesizes">
          <div class="row">
            <div class="col-sm availablesizeselement" (click)="ChangeFilters(size,'','size')" *ngFor="let size of Filters.availableSizes">
              {{size}}
            </div>
          </div>
        </div>
    </div>
    <div class="row padding-top">
      <div class="filter-box" *ngIf="Filters.selectedFilters.gender.length >1" (click)="ChangeFilters('gender', ' ', 'reset')">
        <div class="Filter">
          {{Filters.selectedFilters.gender}}
        </div>
        <div class="x-box">
          X
        </div>
      </div>

      <div class="filter-box" *ngIf="Filters.selectedFilters.category.length >1" (click)="ChangeFilters('category', ' ', 'reset')">
        <div class="Filter">
          {{Filters.selectedFilters.category}}
        </div>
        <div class="x-box">
          X
        </div>
      </div>

      <div class="filter-box" *ngIf="Filters.selectedFilters.subcategory.length >1" (click)="ChangeFilters('subcategory', ' ', 'reset')">
        <div class="Filter"  >
          {{Filters.selectedFilters.subcategory}}
        </div>
        <div class="x-box">
          X
        </div>
      </div>

      <div class="filter-box" *ngIf="Filters.selectedSize.length >0" (click)="ChangeFilters('size', ' ', 'reset')">
        <div class="Filter">
          Größe {{Filters.selectedSize}}
        </div>
        <div class="x-box">
          x
        </div>
      </div>
      <div class="filter-box delete-box" *ngIf="Filters.selectedSize.length >0 ||
          Filters.selectedFilters.subcategory.length >1 || Filters.selectedFilters.category.length >1 ||
          Filters.selectedFilters.gender.length >1" (click)="ChangeFilters('', ' ', 'resetallfilters')">
        <div class="Filter" style="color:red; font-size:80%">
          LÖSCHEN
        </div>
      </div>
    </div>
</div>

