 <div class="wrapper">
  <div id="headline" >
    <select id="size-select" class="custom-select custom-select-sm" [(ngModel)]="Filters.selectedSize" (ngModelChange)="ChangeFilters('set','','size')">
      <option value=""  disabled>Gr.</option>
      <option *ngFor="let size of Filters.availableSizes" >{{size}}</option>
    </select>

    <div class="filter-box" *ngIf="Filters.selectedFilters.gender.length >1" (click)="ChangeFilters('gender', ' ', 'reset')">
      <div class="Filter">
        {{ Filters.selectedFilters.gender}}
      </div>
      <div class="x-box">
        X
      </div>
    </div>

    <div class="filter-box" *ngIf="Filters.selectedFilters.category.length >1" (click)="ChangeFilters('category', ' ', 'reset')">
      <div class="Filter">
        {{Filters.selectedFilters.category}}
      </div>
      <div class="x-box">
        X
      </div>
    </div>

    <div class="filter-box" *ngIf="Filters.selectedFilters.subcategory.length >1" (click)="ChangeFilters('subcategory', ' ', 'reset')">
      <div class="Filter"  >
        {{Filters.selectedFilters.subcategory}}
      </div>
      <div class="x-box">
        X
      </div>
    </div>

    <div class="filter-box" *ngIf="Filters.selectedSize.length >0" (click)="ChangeFilters('size', ' ', 'reset')">
      <div class="Filter">
        Größe {{Filters.selectedSize}}
      </div>
      <div class="x-box">
        x
      </div>
    </div>
    <div class="filter-box delete-box" *ngIf="Filters.selectedSize.length >0 ||
        Filters.selectedFilters.subcategory.length >1 || Filters.selectedFilters.category.length >1 ||
        Filters.selectedFilters.gender.length >1" (click)="ChangeFilters('', ' ', 'resetallfilters')">
      <div class="Filter" style="color:red; font-size:80%">
        LÖSCHEN
      </div>
    </div>

  </div>


  </div>

