<div class="wrapper">
  <div class="row">

    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header">
          <h3> 404: Seite nicht gefunden</h3>
        </div>

  <img src="https://images.unsplash.com/photo-1588571590924-433cc2020a12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" alt="">

        <div class="card-body">
        <a routerLink="/" >Zurück zur Startseite</a>
        </div>


      </div>
    </div>
  </div>
</div>
