
<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="card">
      <div class="card-header">
        <h3>Bestellung abgeschickt!</h3>
        <p>Deine Bestellung war erfolgreich und wurde bei uns aufgenommen.</p>
        <p>Sobald dein Paket verschickt wird erhältst du von uns eine Bestätigungs E-Mail.</p>
        <p>Danke für deinen Einkauf und bis bald!</p>

      </div>

<img src="https://images.unsplash.com/photo-1603896959089-342be42f8962?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=679&q=80" alt="">

      <div class="card-body">
      <a routerLink="/" >Weiter Einkaufen</a>
      </div>


    </div>
  </div>
</div>

